
body{
    text-align: center;
    background-color: aquamarine;
    
}
img{
    width: 400px;
    height: 400px;
    
        
}
h1{
    text-decoration: underline;
    font-size: 40px;
    
}
p{
    font-size: 25px;
    
}